{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "plugins": ["@typescript-eslint", "import", "unicorn", "prettier"],
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "project": "tsconfig.json"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "ignorePatterns": ["**/dist/**", "**/demo/**", "**/public/**"],
  "rules": {
    // Import plugin rules
    // https://github.com/import-js/eslint-plugin-import
    "import/no-unresolved": "error",
    "import/export": "warn",
    "import/no-nodejs-modules": "warn", // Deepscatter runs on the browser
    "import/no-default-export": "warn", // default exports are an antipattern

    // Unicorn plugin rules
    // https://github.com/sindresorhus/eslint-plugin-unicorn
    "unicorn/filename-case": [
      "error",
      {
        "cases": {
          "pascalCase": true,
          "snakeCase": true
        }
      }
    ],
    "unicorn/consistent-destructuring": "off",
    "unicorn/new-for-builtins": "off",
    "unicorn/prevent-abbreviations": "off",
    "unicorn/no-null": "off",

    // NOTE: The below rules violate best practices and allow for code
    // debt and should be removed.
    "camelcase": "off"
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "extends": [
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
      ]
    }
  ]
}
